/* Test.module.css */

.testContainer {
    /* Style for the main container */
    max-width: 600px; /* Adjust the value as needed */
    margin: 20px auto; /* Center the container */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 100px;
}

.testTitle {
    /* Style for the title */
    font-size: 24px;
    margin-bottom: 20px;
}

.patientDoctorInfo {
    /* Style for doctor and patient information */
    margin-bottom: 20px;
}

.patientDoctorInfo > div {
    margin-bottom: 10px;
}

.medicinesList {
    /* Style for the list of medicines */
    list-style: none;
    padding: 0;
}

.medicineItem {
    /* Style for each medicine item in the list */
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
}

.medicineName {
    /* Style for the medicine name */
    font-weight: bold;
}

.medicineInfo {
    /* Style for the medicine information */
    display: flex;
    justify-content: space-between;
}

/* Make Strength, Dose, and Duration horizontal */
.medicineInfo > div {
    flex: 1;
    margin: 0 5px;
}

.changeDosageButton {
    /* Style for the change dosage button */
    background-color: #345171;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center; /* Center the text (plus mark) */
    line-height: 1; /* Vertically center the text */
}

.changeDosageButton:hover {
    background-color: #11263D;

}

.suggestedMedicine{
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.searchBarinput {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}


/* Test.module.css */

/* ... previous styles ... */

.medicineRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.removeMedicineButton {
    background-color: red; /* Customize the button color as needed */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.removeMedicineButton:hover {
    background-color: darkred; /* Change the button color on hover */
}

/* ... other styles ... */
