/* Test.module.css */

.testContainer {
  /* Style for the main container */
  /* max-width: 600px;  */
  padding: 2rem;
  padding-bottom: 6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  height: 100vh;
}

.buttonContainer {
  /* Style for the button container */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.testTitle {
  /* Style for the title */
  font-size: 24px;
  margin-bottom: 20px;
}

.patientDoctorInfo {
  /* Style for doctor and patient information */
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #c7f2ff;
  border-radius: 1rem;
}

.patientInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 1rem 1rem 2rem;
}

.doctorInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 2.5rem 1rem 1rem;
}

.medicinesList {
  /* Style for the list of medicines */
  list-style: none;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  gap: 1rem;
  background-color: #ddd;
  border-radius: 1rem;
  padding: 2rem;
}

.medicineRow {
  /* Style for each medicine row */
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  padding: 0rem 2rem;
  align-items: center;
  background-color: #fff;
}

.medicineItem {
  /* Style for each medicine item in the list */
  display: flex;
  gap: 2rem;
  border-radius: 5px;
  padding: 2rem;
  background-color: #fff;
}

.medicineName {
  /* Style for the medicine name */
  font-weight: bold;
}

.medicineInfo {
  /* Style for the medicine information */
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

/* Make Strength, Dose, and Duration horizontal */
.medicineInfo > div {
  flex: 1;
  margin: 0 5px;
}

.changeDosageButton {
  /* Style for the change dosage button */
  background-color: #50759c;
  color: #fff;
  border: none;
  width: 20%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s;
  text-align: center; /* Center the text (plus mark) */
  line-height: 1; /* Vertically center the text */
}

.changeDosageButton:hover {
  background-color: #11263d;
}

.suggestedMedicine {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.searchBar {
  width: 100%;
}

.searchBarinput {
  /* border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px; */
  /* padding: 10px; */
  background-color: #fff;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

/* Test.module.css */

/* ... previous styles ... */

/* .medicineRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
} */

.removeMedicineButton {
  background-color: red; /* Customize the button color as needed */
  color: white;
  border: none;
  margin: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.removeMedicineButton:hover {
  background-color: darkred; /* Change the button color on hover */
}

/* ... other styles ... */

.submitbuttoncontainer {
  width: 100%;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.submit {
  /* Style for the submit button */
  background-color: #5da27b;
  color: #fff;
  border: none;
  width: 25%;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  /* transition: background-color 0.3s; */
  margin-top: 20px;
  text-align: center;
}

.addButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.addContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.medicineInput {
  display: flex;
  width: 50%;
}

@media print {
  @page {
    size: landscape;
  }
}
