/* RequestCard.module.css */
.customCard {
    width: 350px;
    height: 250px;
    margin: 16px;
    border: 1px solid #000000; /* Add border style */
    border-radius: 10px; /* Add border radius for rounded corners */
    box-shadow: 0px 4px 8px #00000033; /* Add box shadow for a shadow effect */
    transition: transform 0.3s; /* Add transition for smooth scaling on hover */
    background-color: #d8f0f9;
    overflow-y: auto;
}

.customCard::-webkit-scrollbar {
    width: 0.5em; /* Adjust the width as needed to make it smaller */
}

.customCard:hover {
    transform: scale(1.08); /* Scale the card by 20% on hover */
    background-color: #d0eefa;
}

.cardContent {
    padding: 16px;
}

.cardTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.cardText {
    font-size: 17px;
    color: #333;
    margin-bottom: 25px;
    word-wrap: break-word;
}

.stateButton {
    background-color: #345171;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.stateButton:hover {
    background-color: #11263D;
}

.pendingButton {
    background-color: #345171;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pendingButton:hover {
    background-color: #345171;
}
