header {
  margin-top: 50px;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    160deg,
    #34c9b6,
    #34c9b6 60%,
    #f8fbff 60%,
    #f8fbff
  );
}

.header-row {
  display: flex;
}

.header-row-left-column {
  margin-left: 8rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  float: left;
  width: 70%;
}

.header-row-right-column {
  width: 30%;
}

.header-row-left-column-head {
  color: #ffffff;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  width: 900px;
}

.header-row-left-column-desc {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0;
  gap: 2rem;
  line-height: normal;
  width: 700px;
}

.header-row-left-column-desc-buttons {
  display: flex;
  gap: 2rem;
}

.usage-guide-button {
  background-color: white;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  border-radius: 12px;
}

.usage-guide-button:hover {
  background-color: whitesmoke;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  border-radius: 12px;
  cursor: pointer;
}

.start-diagnosis-button {
  background-color: #c7f2ff;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  border-radius: 12px;
}

.start-diagnosis-button:hover {
  background-color: white;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  border-radius: 12px;
  cursor: pointer;
}

.phone-img {
  padding-top: 95px;
  width: 300px;
  height: 520px;
}

p {
  margin-top: 10rem;
}
